<html>
    <head>
        <title>Hello World</title>
        <link href="/s/style.css" rel="stylesheet" />
    </head>
    <body>
        <a href='/'>Home</a>
        <a href='/history'>History</a>
        {% block %}{% endblock %}
    </body>
</html>