<html>
    <head>
        <title>Tasks</title>
        <link href="/s/style.css" rel="stylesheet" />
    </head>
    <body>
        <a href='/planned'>Запланированные задания</a>
        <a href='/completed'>Выполненные задания</a>
        {% block %}{% endblock %}
    </body>
</html>