<html>
    <head>
        <title>Hello World</title>
        <link href="/s/style.css" rel="stylesheet" />
    </head>
    <body>
        <a href='/'>Profile</a>
        <a href='/users'>Users</a>
        <a href='/logout'>Logout</a>
        {% block %}{% endblock %}
    </body>
</html>